<div class="splash-screen">
    <h1 class="splash-title">Budgetify</h1>
    <div class="splash-buttons">
        <%= button_to "Sign in", new_user_session_path, method: :get, class: "login-btn" %>
        <%= button_to "Sign up", new_user_registration_path, method: :get, class: "signup-btn" %>
    </div>
</div>